{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어서오세요, 마을상점</title>
    <link rel="stylesheet" href="ms.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

</head>
<body>
  <div class="nav">
    <nav class="banner">
        <ul class="page_menu">
            <li><a href="#">BEST CAFE</a></li>
            <li><a href="#">CATEGORY</a></li>
            <li><a href="#">SNS</a></li>
        </ul>
    </nav>
    <h1 id="clock"></h1>
    </div>
          <!-- //nav -->>

    <div class="Mcontainer">
      <div class="header">
        <div id="box" class="text-effect"><h1>Vilage Market</h1></div>
        <div class = Mybutton>
        <button onclick="effect(effect_box,50);">click me!</button>
      </div>  
      </div>

        <div class="searching">
              <div class="search">
                  <input type="text" id="search" placeholder="Search..." />
                  <button>searching</button>
              </div>
          </div>
            <div class="hashtag">
              <p>Today's cafe pick</p>
              <div class="tag">
                <h2>#COZY</h2>
            </div>
            <div class="tag">
                <h2>#KISTCH</h2>
            </div>
            <div class="tag">
                <h2>#VIEW</h2>
            </div>
          </div>

        <!--여기까지! 로고, 검색장, 해시태그 eader-->


      <div class = "cachoo">
                <div class="cafe">
                  <div class="picture">
                    <button type="button" id="img_btn"><img src="카페 유일.jpg"></button>
                </div>

                <ul class="cafeinfo">
                  <li class="cafe_title"><strong><h2>Cafe 유일</h2></strong></li>
                  <li>WHERE : 경기 안산시 단원구 서위매봉</li>
                  <li>TIME : 화-토 10:00 - 20:00</li>
                  <li>월요일 휴무</li>
                  <li class="cafe_menu">
                      <strong><h2>MENU</h2></strong><br>
                      <li>콜드브루 5.5</li>
                      <li>유일라떼 5.5</li>
                      <li>미숫가루 라떼 6.0</li>
                      <li>밀크티 5.0</li>
                  </li>
              </ul>
          </div>


          <div class="cafe">
            <div class="picture">
              <button type="button" id="img_btn"><img src="프로스콘스.png"></button>
          </div>
          <ul class="cafeinfo">
            <li class="cafe_title"><h2>PROSCONS</h2></li>
            <li> WHERE: 경기 안산시 상록구 학사2길 12</li>
            <li>TIME : 매일 12:00 - 22:00 </li>
            <li>공휴일 12:00 - 22:00 </li>
            <li class="cafe_menu">
              <strong><h2>MENU</h2></strong><br>
              <li>아메리카노4.0</li>
              <li>카페라떼 4.0</li>
              <li>핫초코 5.0</li>
              <li>로즈마리 레몬 4.5</li>
              <li>귀여운 강아지 ?.?</li>
            </li>
        </ul>
      </div>

   
      <div class="cafe">
      <div class="picture">
        <button type="button" id="img_btn"><img src="cafe dbb.jpg"></button>
      </div>
      <ul class="cafeinfo">
        <li class="cafe_title"><strong><h2>Cafe DBB</h2></strong></li>
        <li>WHERE : 경기 안산시 단원구 구봉길59</li>
        <li>시간: 매일 11:00 - 20:00 연중무휴</li>
        <li>일요일 휴무</li>
        <li class="cafe_menu">
          <strong><h2>MENU</h2></strong><br>
          <li>솔트커피 5.5</li>
          <li>얼글레이 5.0</li>
          <li>감잎차 5.0</li>
          <li>캐모마일 5.0</li>
       </li>
       </ul>
    </div>
  </div>
</div>              
</div>
</div>
  <div class="container_box">
  <p class="container_title"><strong><br></br><br></br>Information</strong></p>
  <div class="intro">
  <div class="introduce">
    <div class="slideshow-container1">
        <div class="mySlides fade1">
          <img src="카페 유일.jpg">
        </div>
        <div class="mySlides fade">
          <img src="카페 유일2.jpg">
        </div>
        <div class="mySlides fade">
          <img src="카페유일3.jpg">
        </div>
      
        
      </div>
      <br>
      <br>
      <br>     
      <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
      </div>
  </div>
  
<div class="introduce">
    <ul class="small_info">
        <li class="cafe_title"><h1><strong>"Cafe 유일"</h1></strong></li>
        <li>
            <span><h2>WHERE : 경기 안산시 단원구 서위매봉</h2></span>
            <span><button id="modal_btn">MAP</button></span>
        </li>
        <li><span><h2>PHONE : 1234-5678</h2></span></li>
        <li> <h2>10:00 - 24:00 연중무휴</h2></li>
        <li class="seat">
            <strong>Detail Menu</strong>
            <span><button id="modal_btn_menu">click</button></span>
            <br>
            
        </li>
    </ul> 
    <div class="page-wrapper">
  <a class="btn trigger" href="#">UP</a>
</div>

<!-- Modal -->
<div class="modal-wrapper">
  <div class="modal">
    <div class="head">
      <a class="btn-close trigger" href="#">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>

    </div>
  </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span> 
      <p><h1>"Where's My Cafe Cafe 유일"</h1></p>      
      <p>경기도 안산시 상록구 사3동 성안1길</p>                                                  
      <img src="PROSCONS MAP.JPG" width="100%" height="100%">
    </div>
</div>
<div id="myModal1" class="modal1">
    <div class="modal-content">
      <span class="close">&times;</span>                                                  
      <img src="카페유일 메뉴.JPG" width="100%" height="100%">
    </div>
</div>
</div>

</div>
</div>
</div>
<script type = "text/javascript" src="ms.js">
</script>
</body>
villageshop\shopdjango\shopapp\static\ms.css
villageshop\shopdjango\shopapp\static\ms.js
</html>

